attrs==19.3.0
backcall==0.2.0
blis==0.4.1
brotlipy==0.7.0
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cryptography==2.9.2
decorator==4.4.2
Flask==1.1.2
gunicorn==20.0.4
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib
jsonschema==3.2.0
MarkupSafe==1.1.1
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
murmurhash==1.0.0
nltk
numpy==1.18.5
pandas
parso==0.7.0
pexpect
pickleshare
plac
plotly
preshed
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycparser
Pygments==2.6.1
pyOpenSSL==19.1.0
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.1
regex
requests
retrying==1.3.3
scikit-learn
scipy
six==1.15.0
SQLAlchemy
srsly
thinc
threadpoolctl
tornado==6.0.4
tqdm
traitlets==4.3.3
urllib3==1.25.9
wasabi
wcwidth
Werkzeug==1.0.1
zipp==3.1.0
