{% extends "index.html" %}

{% block head %}
<h1 class="text-center page_title">About</h1>
<hr class="custom-hr" />
<p>
    This application was developed for the purpose of classifying text (messages) for disaster relief.
    The application was completed as part of a project for the <a href="https://www.udacity.com/course/data-scientist-nanodegree--nd025">Udacity Data Scientist Nanodegree program</a>.
    The datasets used to train the supervised learning model were provided by Figure8.
</p>
{% endblock %}