body {
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
}

.custom-jumbotron {
    border:1px solid rgb(34, 204, 207);
    width: 50%;
    margin: 0 auto;
}

  .page_title {
    color: rgb(34, 204, 207);
    margin-top: 20px;
}

.page_subtitle {
    color: ghostwhite;
}

.custom-hr {
  background-color: rgb(34, 204, 207);
}

.custom-btn {
  background-color: rgb(34, 204, 207);
  margin-top: 10px;
  
}

button:hover {
  background-color: cadetblue;
}


.results-list {
  width: 50%;
  padding: 0;
  margin: auto;
}

.custom-card-title {
  margin-top: 3px;
}
.card-success {
  background-color: rgb(34, 204, 207);
  border-color: white;
}

.card-nosuccess {
  background-color: transparent;
  border-color: white;
}

.card:hover {
  background-color: cadetblue;
}