body {
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
}

.custom-jumbotron {
    border:1px solid rgb(34, 204, 207);
    width: 50%;
    margin: 0 auto;
  }

  .page_title {
    color: rgb(34, 204, 207);
    margin-top: 20px;
}

.page_subtitle {
    color: ghostwhite;
}

.custom-hr {
  background-color: rgb(34, 204, 207);
}

.custom-btn {
  background-color: rgb(34, 204, 207);
  margin-top: 10px;
  
}

button:hover {
  background-color: cadetblue;
}