{% extends "index.html" %}

{% block head %}
<h1 class="text-center page_title">About</h1>
<hr class="custom-hr" />
<p>
    This application was developed for the purpose of classifying text (messages) for disaster relief.
    The application was completed as part of a project for the <a href="https://www.udacity.com/course/data-scientist-nanodegree--nd025">Udacity Data Scientist Nanodegree program</a>.
    The datasets used to train the supervised learning model were provided by <a href="https://appen.com">Figure Eight</a>.
</p>
<p>
    The project was completed by Daniel Grewal. If you're interested in the source code
    behind the application, hit the <strong>GitHub Repository</strong> link at the top of the page.
</p>
{% endblock %}
{% block content %}
{% endblock %}